include README.md
include LICENSE
include requirements.txt
recursive-include uml_generator *.py
recursive-include uml_generator/templates *.html
recursive-include uml_generator/static *
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
